@tailwind base;
@tailwind components;
@tailwind utilities;

/* width: 1440px;
height: 1132px;
top: -590px;
left: -720px;
padding: 0px 59px 0px 59px;
gap: 40px;
opacity: 0px;

width: 187px;
height: 58px;
top: 17px;
left: 136px;
padding: 13px 35px 13px 0px;
gap: 10px;
opacity: 0px;

//styleName: h3;
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 */



